@import "ag-grid-community/dist/styles/ag-grid.css";
@import "ag-grid-community/dist/styles/ag-theme-alpine.css";

.btn {
    display:inline-block;
    border:1px solid #CCC;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    cursor:pointer;
    vertical-align:middle;
    max-width: 100px;
    padding: 5px;
    text-align: center;
}

.edit {
    color:#444;
    background:#DDD;
}

.delete {
    color:rgb(255, 255, 255);
    background:rgb(145, 115, 115);
}

.add {
    max-width: 150px !important;
    height: 40px;
    color:rgb(255, 255, 255);
    background-color: rgb(142, 166, 142);;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
